@use 'variables' as *;
%h1{
  margin: 0;
  font-size: 3.75rem;
  font-weight: 800;
  color: $f-blue;
  //media query
  @media(max-width: $media-md) {
    font-size: 42px;
  }
  @media(max-width: $media-sm) {
    font-size: 2.25rem;
  }
  @media(max-width: $media-mb-m) {
    font-size: 1.875rem;
  }
}
%h2{
  margin: 0;
  font-size: 2.25rem;
  font-weight: 700;
  color: $f-blue;
  //media query
  @media(max-width: $media-md) {
    font-size: 1.875rem;
  }
  @media(max-width: $media-sm) {
    font-size: 1.625rem;
  }
  @media(max-width: $media-mb-m) {
    font-size: 1.5rem;
  }
}
%h3{
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: $f-blue;
  //media query
  @media(max-width: $media-md) {
    font-size: 1.375rem;
  }
  @media(max-width: $media-mb-m) {
    font-size: 1.125rem;
  }
}
%h4{
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: $f-blue;
  //media query
  @media(max-width: $media-md) {
    font-size: 1.25rem;
  }
  @media(max-width: $media-mb-m) {
    font-size: 1.125rem;
  }
}
%p{
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: $gray !important;
  line-height: 1.6;
  //media query
  @media(max-width: $media-sm) {
    font-size: .875rem;
  }
}
%a{
  font-size: 1.125rem;
  font-weight: 500;
  color: $gray !important;
  @media(max-width: $media-sm) {
    font-size: 1rem;
  }

}
%btn{
  font-size: 1.125rem;
  font-weight: 500;
  background: $btn;
  color: $light !important;
  padding: 1rem !important;
  transition: all 0.3s ease-in-out;
  //media query
  @media(max-width: $media-sm) {
    font-size: 0.875rem;
  }

  &:hover, &:active{
    background: $btn-d;
  }
}

//utilities
%margin{
  margin: 0 200px;

  //media query
  @media(max-width: $media-md){ 
    margin: 0 100px;
  }
  @media(max-width: $media-sm){ 
    margin: 0;
  }
}