$gray: #2e2e2e;
$blue: #1b2342;
$f-blue:#071c4d;
$red: #f25767;
$btn:#175cff;
$btn-d:#0048f0;
$light: #fafafa;
$green: #3cb690;
$bg-red: #FCDDE1;
$bg-blue: #CEDDFF;
$bg-green:#DEF4ED;
$i-blue: #466EFF;
$shadow: 0 5px 20px 0 #d2d2f580;

//media queries breakpoints
$media-lg: 1199px; //1200px and up
$media-md: 991px; // 992px and up
$media-sm: 767px; // 768 px and up
$media-mb-m: 424px; // 425 and up